    /*	 ESTILOS GENERALES	*/
    :root {
        --grey:  #2f3033;
        --green: #56af31;
        --greyHigh: #868992;
        --greyMed: #a5abb8;
        --greyLow: #b8c1cf;
        --textHover: #DDDDDD;
        --whitteSolid: #FFF;
        --blackSolid:  #000000;
        --degrayBlack:  #000000d4;
        --textFocus:  #000000;
        --degrayBlackLow:  #0000007d;
        --greenTrasparente:  #56af3185;
        --google: #4F6A77;
    }

    body{
    	width: 100%;
    	font-family: 'Montserrat', sans-serif;
    	display: contents;
    	overflow-x: hidden;
        background-color: var(--blackSolid) !important;
    }

    .contTriangulo{
        height: 50%; */
        /* width: 100%; */
        /* top: 55%; */
        /* position: absolute; */
        z-index: 1;
        width: 950px;
        height: 25%;
        right: 32%;
        /* top: 1135px; */
        bottom: 0%;
        position: absolute;
    }

    .triangulo{
        fill: var(--greenTrasparente);
        stroke: var(--greenTrasparente);
        stroke-width: 0;
    }

    .contPanoTraingulo{
        height: 350px;
        width: 900px;
        top: 50%;
        right: 0;
        position: absolute;
        z-index: -1;
    }

    .header{
        width: 100%;
        height: 100vh;
        position: relative;
        background: url(../image/homeSlider.jpg) center no-repeat;
        background-size: cover;
    }

    .backImg{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu{
        z-index: 2;
        position: fixed;
        display: flex;
        right: 0px;
        top: -10px;
    }


    .contLogo{
        background: var(--degrayBlack);
        width: 100%;
        height: 300px;
    }

    .logoEsc{
        width: 100%;
        z-index: 1;
        text-align: center;
        position: relative;
        top: 10%;
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
    }

    .botonMenu{
    	display: flex;
      	justify-content: center;
        width: 100%;
        z-index: 1;
        text-align: center;
        position: relative;
        top: 10%;
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
    }

    .logoImg{
    	border: 0px;
        margin: 0px;
        margin-top: 10px;
        padding: 0px;
    	height: 130px;
    }

    .boton {
        width: 150px;
        max-width: 200px;
        padding: 10px;
        margin: 10px;
        color: var(--whitteSolid);
        border-radius: 2px;
        cursor: pointer;
    }


.btn1{
    text-align: center;
    background-color: var(--green);
    }
.btn1:hover {
    background-color: var(--textFocus);
    color: var(--textHover);
    -webkit-box-shadow: 0px 0px 32px 12px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 32px 12px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 32px 12px rgba(0,0,0,0.35);
}

    .btn2{
    	background-color: var(--greyHigh);
    	margin-left: 30px;
    }
    .btn2:hover{
    	background-color: var(--textFocus);
    			color:  var(--textHover);
    }

    .btn3{
    	background-color: var(--greyHigh);
    	    width: 150px;
    }
    .btn3:hover{
    	background-color: var(--green);
    	color:  var(--textHover);
    }

    a, a:link, a:hover, a:visited {
    	text-decoration: none !important;

    	-webkit-transition: all 0.3s ease-out;
    	-moz-transition: all 0.3s ease-out;
    	-ms-transition: all 0.3s ease-out;
    	-o-transition: all 0.3s ease-out;
    	transition: all 0.3s ease-out;
    }

    .btnInformes{
        z-index: 9999;
        float: right;
        top: 0px;
    }
    /*          INICIA el HEADER MENU DE DEMAS*/
    #contentHeader{
        width: 100%;
        height: 100vh;
        position: relative;
        background-color: black;
        /*
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        */
    }
    .contentMenu{
        text-align: center;
        display: flex;
        background: var(--blackSolid);
        width: 100%;
        height: 100px;
    }
    .menus{
        width: 100%;
        display: flex;
        justify-content: center;
        z-index: 1;
        text-align: center;
        position: relative;
        top: 15%;
    }
    .logoH{
        justify-content: center;
        z-index: 1;
        text-align: center;
        position: relative;
        top: 10%;
        -webkit-transform: translateX(0%);
    }


    .logoImgH{
        width: 85%;
    }

    .contLogoH{
        width: 20%;
        height: 100%;
        z-index: 1;
        text-align: center;
        position: relative;
        top: 15%;
        -webkit-transform: translateX(10%);
        -moz-transform: translateX(10%);
        -ms-transform: translateX(10%);
        -o-transform: translateX(10%);
        transform: translateX(10%);
    }
    .contLogoMenus{
        width: 80%;   
        height: 100%;
    }

    .contPano{
        width: 100%;
        height: 100vh;
        display: block;
        justify-content: center;
        align-items: center;
    }
    .contMjeAbout{
        background: var(--degrayBlackLow);
        height: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
    }

    .positionContMje{
        padding-left: 20%;
        padding-right: 20%;
    }

    .tittleNosotros{
        padding-bottom: 15px;
        border-bottom: var(--green) solid 3px;
        font-size: 1.5em;
    }

    .contentNosotros{
        font-size: 1em;
    }

    .txtAbout{
        color: var(--whitteSolid);
        width: 100%;
    }
    /*     INICIOA EL PROYECTO     */
    #contentProyect{
        padding-top: 10%;
        padding-bottom: 10%;
        background-color: var(--whitteSolid);
        text-align: center;
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
    }

    .contentDescription{
        width: 20%;
        height: 80%;
        margin: 20px;
        padding: 10px;
        cursor: pointer;
    }

    .banderaText{
        padding-bottom: 50px;
        color:  var(--greyHigh);
        background-color: var(--whitteSolid);
    }

   .banderaText:hover .banderaText, .contentDescription:hover .banderaText{
        background-color: var(--greyHigh);
        color: var(--whitteSolid);
    }

   .banderaText:hover .bandera , .contentDescription:hover .bandera {
        background: url(../icons/baseTraingulo.png) no-repeat;
        width: 100%;
        height: 100px;
        background-size: 100%; 
    }
/*  HOVER EN LOS ELEMENtOS DE DESCRIPCION */
   .banderaText:hover .iconPerfect , .contentDescription:hover .iconPerfect{
        background: url(../icons/domotic.png) center no-repeat;
        background-size: 60%;
        border: white solid 4px;
    }

   .banderaText:hover .iconVista , .contentDescription:hover .iconVista{
        background: url(../icons/vista.png) center no-repeat;
        background-size: 60%;
        border: white solid 4px;
    }

   .banderaText:hover .iconParque , .contentDescription:hover .iconParque{
        background: url(../icons/parque.png) center no-repeat;
        background-size: 60%;
        border: white solid 4px;
    }

   .banderaText:hover .iconCalentador , .contentDescription:hover .iconCalentador{
        background: url(../icons/calentador.png) center no-repeat;
        background-size: 60%;
        border: white solid 4px;
    }


     .banderaText:hover .backIconLogoC, .contentDescription:hover .backIconLogoC{
        margin-top: -7%;
        position: absolute;
        display: inline-flex;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background-color: var(--green);
        border: white solid 5px;
     }

     .lineaBandera{
        width: 60%;
        border-style: inset;
        border-top: 1px solid var(--green);
        border-bottom: 1px solid var(--green);
        height: 0;
        box-sizing: border-box;
        max-width: 42rem;
     }

    .backIconLogoC{
        display: none;
    }

    .bandera{
        width: 100%;
        height: 100px;
        background: url(../icons/baseTrainguloSimple.png) no-repeat;
        background-size: 100%; 
    }

    .contenCaract{
        margin-top: 5%;
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
    }

    .iconLogoC {
        position: relative;
        margin-top: -35%;
        display: inline-block;
        text-align: center;
        height: 100px;
        width: 100px;
        background-repeat: no-repeat;
        background-position: 50%;
        border-radius: 50%;
        align-items: center;
        border: var(--green) solid 5px;

    }

/*  IMAGENES ICONOS DE LAS CARACTERISTICAS    */
    .iconPerfect{
        background: url(../icons/domoticG.png) center no-repeat; 
        background-size: 60%;
    }

    .iconVista{
        background: url(../icons/vistaG.png) center no-repeat; 
        background-size: 60%;
    }

    .iconParque{
        background: url(../icons/parqueG.png) center no-repeat; 
        background-size: 60%;
    }

    .iconCalentador{
        background: url(../icons/calentadorG.png) center no-repeat; 
        background-size: 60%;
    }

    .iconoDesc{
        width: 60px;
        height: auto;
        padding-top: 25px;
    }

    .tDesc{
        font-size: 200%;
    }
    .stDesc{
        font-size: 100%;
    }
    .txtDesc{
        font-size: 100%;
        padding: 10px;
    }

    /*    INICIA EL CONTENDEROR DE DEPTOS  */


    #contentDeptos{
        width: 100%;
        height: 100vh;
        background-color: var(--greyLow);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
        display: block;
        justify-content: center;
        align-items: center;
    }

    .titleDeptos{
        display: inline-flex;
        width: 60%;
        height: 60px;
        float: right;
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
    }

.tittleDeptosIzq{
        display: block;
    width: 60%;
    position: absolute;
    height: 60px;
    bottom: 0px;
    float: right;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
}
    .tittle{
        padding-left: 15px;
        font-size: 1.5em;
        font-weight: bold;
        color: var(--whitteSolid);
        text-align: left;
    }

    .subtittle{
        padding-left: 15px;
        padding-top: 5px;
        font-size: .9em;
        color: var(--whitteSolid);
        text-align: left;
    }

    .trianguloTittle{
        width: auto;
        height: 60px;
    }

    .trianguloImg{
        height: 60px;
    }
    .contTituloSubtitulo{
        width: 80%;
        height: 60px;
        background: var(--greyHigh);
    }

    .contGralDeptosBox{
        width: 100%;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
    }

    .boxDepto{
        width: 50%;
        height: 100%;
        background-color: var(--greyLow);
        display: flex;
        justify-content: center;
        align-items: center;
        background-attachment: scroll;

    }

    .boxFront, .boxBack{
        width: 80%;
        height: 80%;
        background-color: var(--greyHigh);

        -webkit-box-shadow: -1px 0px 34px -5px rgba(0,0,0,1);
        -moz-box-shadow: -1px 0px 34px -5px rgba(0,0,0,1);
        box-shadow: -1px 0px 34px -5px rgba(0,0,0,1);
    }

    .boxFront:hover{
        -webkit-box-shadow: 0px 0px 62px 19px rgba(0,0,0,0.65);
        -moz-box-shadow: 0px 0px 62px 19px rgba(0,0,0,0.65);
        box-shadow: 0px 0px 62px 19px rgba(0,0,0,0.65);
    }

    .boxBackIMG{
        width: 100%;
        height: 60%;
        position: relative;
        background: url(../image/deptoInterior.png) center no-repeat;
        background-size: cover;
    }

    .boxBackPlano {
        width: 100%;
        height: 75%;
        position: relative;
        background: url(../image/A-1.jpg) center no-repeat;
        background-size: cover;
    }

    .boxBackDepto2{
        width: 100%;
        height: 60%;
        position: relative;
        background: url(../image/depto1.jpg) center no-repeat;
        background-size: cover;
    }

    .boxBackPlano2 {
        width: 100%;
        height: 75%;
        position: relative;
        background: url(../image/A-2.jpg) center no-repeat;
        background-size: cover;
    }

.boxDescPlano {
    color: white;
    width: 100%;
    height: auto;
    background-color: var(--grey);
    font-size: 100%;
    display: flex;
}
.tittlePlano{
    text-align: center;
    padding-right: 10px;
    padding-top: 5px;
}
    .boxBackIMG2{
        width: 100%;
        height: 50%;
        position: relative;
    }
    .boxDescDepto{
        width: 100%;
        height: 30%;
        background-color: var(--grey);
    }

    .iconsDescDepto{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 10%;
        background-color: var(--green);
    }

    .txtDescDepto{
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .txtBoxFormat{
        font-size: 85%;
        text-align: center;
        color: var(--textHover);
    }
    .iconDepto{
        margin: 10px;
        height: 2.5vh;
        vertical-align: middle;
    }

    .txtDataDepto{
        margin-left: 2%;
        font-size: 150%;
        color: var(--textHover);
    }

    /* ESTILO DE VIDA SECCION */

    #contentEstilo{
        width: 100%;
        height: 200%;
        background-color: var(--grey);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
        display: block;
        justify-content: center;
        align-items: center;
    }

    .divEstilo{
        width: 100%;
        height: 100vh;
        background-color: var(--grey);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
        display: block;
        justify-content: center;
        align-items: center;
    }

    .div1Estilo{
        background-color: black;
        position: relative;
        /* background: url(../image/family.png) center no-repeat; */
        background-size: cover;
    }

    .mySlides{
        width: 100%;
        height: 100vh;
    }

    .mjeBoxing{
        z-index: 1;
        color: var(--whitteSolid);
        left: 68%;
        top: 90vh;
        text-align: center;
        position: absolute;
    }

    .contTrainguloAmenidades{
        z-index: 1;
        width: 100%;
        height: 400px;
        top: 62vh;
        left: 54%;
        position: fixed;
    }

    .contTrainguloFooter{
        z-index: 1;
        width: 552px;
        height: 189px;
        right: 77%;
        top: -260%;
        /* bottom: 41%; */
        position: absolute;
    }

    .pBoxesMje{
        font-size: 2.5em;
        color: var(--whitteSolid);
    }
    .tituloInsideTriangulo{
        color: var(--green);
    }

    .trianguloSolid{
        fill: var(--green);
        stroke: var(--green);
        stroke-width: 0;
    }

    .div2Estilo{
        background-color: var(--whitteSolid);
    }

    .tiitle2{
        text-align: right;
        padding-right: 10px;
    }
     
     .titleDeptos2{
        float: left;
     }

     .trianguloTittle2 {
        position: absolute;
        margin-left: 80%;
    }

    .contTituloSubtitulo2 {
        width: 80%;
        height: 60px;
        background: var(--greyHigh);
        display: inline-grid;
    }

    .ContimagePinMAP{
        display: inline-flex;
        width: 100%;
        height: 100%;
    }

    .imgMap{
        height: 100%;
        position: relative;
    }
.contPinBoxes1{
    position: fixed;
    display: inline-flex;
    top: 20%;
    left: 20%;
    width: 18%;
    height: 6%;
}
.contenedorMapaScroll{
    width: 100%;
    display: inline-block;
    overflow-x: scroll;
    overflow-y: hidden;
}
.contPinBoxes2{
    position: fixed;
    display: inline-flex;
    top: 55%;
    left: 45%;
    width: 18%;
    height: 6%;
}

.contPinBoxes3{
    position: fixed;
    display: inline-flex;
    top: 25%;
    left: 75%;
    width: 18%;
    height: 6%;
}

    .imgPin{
        width: 25px;
        height: 50px;
        position: relative;
        cursor: pointer;
        z-index: 3;
    }

    .boxPin{
        margin-left: 20px;
        color: var(--whitteSolid);
        text-align: center;
        width: 100%;
        height: auto;
        position: absolute;
        cursor: pointer;
        background-color: var(--degrayBlackLow);
    }
/*  ESTILOS DE LA SECCION DE CONTACTO    */
    #contentContacto{
        width: 100%;
        height: auto;
        background-color: var(--whitteSolid);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
        display: block;
        justify-content: center;
        align-items: center;
    }

    .contentContact{
        width: 100%;
        height: 100vh;
        background-color: var(--whitteSolid);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
        justify-content: center;
        align-items: center;
    }

    .contentAsesores{
        background-color: var(--whitteSolid);
        width: 100%;
        height: 80%;
        position: relative;
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        display: grid;
        align-items: center;
    }
    .contentAsesoresRandoom{
        background-color: var(--whitteSolid);
        width: 100%;
        height: auto;
        position: relative;
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .contentMapa{
        width: 100%;
        height: 100%;
        background-color: darkgreen;
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
        display: block;
        justify-content: center;
        align-items: center;
    }
    .contInstruccions{
        width: 100%;
        height: auto;
        background-color: var(--google);
        color: var(--whitteSolid);
        display: inline-table;
    }

.contMapaGoogle{
    width: 99.7vw;
    height: 100vh;
    position: relative;
    display: block;
    border: 0px !important;
    background-color: var(--whitteSolid);
}


.googleMap{
    position: absolute;
    display: flex;
    border: var(--google) solid 1px;
}

.ContInfoInsideMap {
    top: 80vh;
    position: relative;
    width: 80%;
    height: auto;
    background-color: var(--degrayBlack);
    margin-right: 10%;
    margin-left: 10%;
    -webkit-box-shadow: 0px 0px 96px -1px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 96px -1px rgba(0,0,0,1);
    box-shadow: 0px 0px 96px -1px rgba(0,0,0,1);
}


.googleMap:hover{
    border: var(--grey) solid 1px;
}

.lineContact{
    border-style: inset;
    border-top: 1px solid var(--green);
    border-bottom: 1px solid var(--green);
    height: 0px;
    box-sizing: border-box;
    max-width: 70%;
}

.contactVisitTittle{
    padding-top: 10px;
    font-size: 120%;
    font-weight: bold;
    color: var(--whitteSolid);
    text-align: center;
}

.contentDataContact{
    font-size: 85%;
    position: relative;
    display: flex;
    height: auto;
}
.boxDataContact{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
}

.iconContact{
    top: 10px;
    left: 10px;
    width: 25px;
    height: 35px;
    position: relative;
}

.txtAdreess{
    margin-left: 20px;
    font-size: .8em;
    color: var(--whitteSolid);
}

.moveAgente{
    width: 5%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
.moveAgente:hover{
    background-color: var(--green) ;
    background: var(--green);
    background: linear-gradient(#2f303359, var(--grey),#2f303359);
}

.contAgentePerson {
    margin: 10px;
    width: 20%;
    height: 400px;
    background-color: var(--greyLow);
    display: flex;
    border-bottom: var(--green) solid 3px;
    -webkit-box-shadow: 0px 17px 37px -12px rgba(0,0,0,0.68);
    -moz-box-shadow: 0px 17px 37px -12px rgba(0,0,0,0.68);
    box-shadow: 0px 17px 37px -12px rgba(0,0,0,0.68);
}

.boxFrontAgent{
    width: 100%;
    height: 100%;
    background-color: var(--greyHigh);
}
.boxFrontAgent:hover {
        border: var(--green) solid 3px;
}

.imagenAjustada{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.txtContactoAgente {
    text-align: center;
}

.boxontactoAgente {
    width: 100%;
    height: 40%;
    background-color: var(--greyHigh);
}


.nameAgente {
    padding-top: 15px;
    font-size: 150%;
    font-weight: bold;
    color: var(--whitteSolid);
}

.zoom {
    transition: transform .2s; /* Animation */
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    z-index: 99;
}


.btnContactAgente{
    background-color: var(--green) !important; 
}

blockquote{
    margin: 0px;
    margin-left: 50px;
    padding-bottom: 10px;
}

.iconArrow{
    width: 25px;
    height: 30px;
    left: -32px;
    top: -15px;
}

.instructions{
    display: block;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    margin-top: 10px;
    margin-left: 50px;
}

.flechaInst{
    display: inline-flex;
    margin-bottom: 0px;
    margin-top: 0px;
    position: absolute;
}

#pelota {
  position: absolute;
  animation: rebota 1s alternate infinite ease-out;
  z-index: 3;
}

@-webkit-keyframes rebota {
  0% {
    bottom: 1px;
    height: 55px;
  }
  100% {
    bottom: 50px;
  }
}





/*  EFECTOS*/

/*  FLECHAS*/
/*
.arrow,
.arrow:before {
  position: absolute;
  left: 50%;
}

.arrow {
  width: 40px;
  height: 40px;
  top: 50%;
  margin: -20px 0 0 -20px;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;
}

.arrow:before {
  content: "";
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}

@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}

 */
.to-top{
    color:white;
    padding-top:1.8em;
    display:inline-block;/* or block */
    position:relative;
    border-color:white;
    text-decoration:none;
    transition:all .3s ease-out;
}
.to-top:before{
    content:'▲';
    font-size:.9em;
    position:absolute;
    top:0;
    left:50%;
    margin-left:-.7em;
    border:solid .13em white;
    border-radius:10em;
    width:1.4em;
    height:1.4em;
    line-height:1.3em;
    border-color:inherit;
    transition:transform .5s ease-in;
}
.to-top:hover{
    color: var(--green);
    border-color: var(--green∫);
}
.to-top:hover:before{
    transform: rotate(360deg);
}


/*  FOOTER */
.contenedorArriba{
    background-color: var(--blackSolid);
    text-align: center;
    width: 100%;
    height: 200%;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
}

.contentFooter{
    width: 100%;
    height: 200px;
    background-color: var(--blackSolid);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer1{
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80%;
}
.proyectAuthors{
padding-right: 25px;
    font-size: 1.5em;
    color: var(--greyLow);
}

.iconAuthors{
    width: 90px;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
}

.footer2{
    position: relative;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.CONTACTO{
font-size: 2em;
    color: var(--whitteSolid);
}
.TELEFONO{
    color: var(--green);
    font-size: 2.5em;
}
.CORREO{
        color: var(--textHover);
    font-size: 1.5em;
}
.footer3{
    width: 10%;
    display: inline-grid;
    justify-content: center;
    align-items: center;
}
.iconSocial{
    margin-bottom: 10px;
    width: 30px;
}
.autorized{
    color: var(--greyHigh);
    background: var(--blackSolid);
    font-size: 70%;
    text-align: center;
}

.txtAutorixed{
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.privacity{
    text-decoration: none;
}
/* END FLECHAS       vertical-align: middle;*/


/*    ALL EFECTS  */


.containerBoxCaract {
    margin: 3%;
    width: 40%;
    height: 80%;
    justify-content: center;
    align-items: center;
    background-attachment: scroll;
}

.card {
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-in-out;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.containerBoxCaract:hover .card {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card:hover {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.front,
.back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
}

.front {
  background-color: maroon;
  z-index: 2;
}

.back {
    z-index: 1;
    background-color: var(--grey);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/*SLIDER SALES MAN*/

/* Slides */
.mySalesManSlider {
    display: table;
    position: absolute;
    width: 100%;
}

/* sigSalesMan & prevSalesManious buttons */
.prevSalesMan, .sigSalesMan {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: var(--green);
    font-weight: bold;
    font-size: 50px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "sigSalesMan button" to the right */
.sigSalesMan {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prevSalesMan:hover, .sigSalesMan:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The circleDot/bullet/indicator container */
.circleDot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
}

/* The circleDots/bullets/indicators */
.circleDot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the activeSelectesSalesMan circleDot/circle */
.activeSelectesSalesMan, .circleDot:hover {
  background-color: #717171;
  }
a:link {color:#ffffff;}
a:hover{
    color: var(--green);
}
a:visited {color:#ffffff;}
a:active {color:#ffffff;}
a:hover {color:#ffffff;}
/*
PARADAX
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 */


/*       MODAL DE CONTACTO */

 .promocion, .leyendContacto, .txtForm{
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
 }

 .protectionInfo{
    padding-bottom: 1%;
    font-size: 0.4em;
    padding-left: 5%;
    padding-right: 5%;
    color: var(--whitteSolid);
 }

 .promocion{
        font-size: .8em;
    background-color: var(--greyHigh);
 }
 .leyendContacto{
    font-size: 0.5em;
    background-color: var(--greyMed);
 }

 .txtForm{
    width: 90%;
    font-size: .6em;
    background-color: var(--greyLow);
    text-align: left;
 }

.caja {
width: 280px;
    margin: 15px 0px 15px 0px;
    border: 1px solid #4CAF50;
    height: auto;
    /* overflow: hidden; */
    /* position: relative; */
    /* background-color: #59af31; */
    -moz-border-radius: 9px 9px 9px 9px;
    -webkit-border-radius: 9px 9px 9px 9px;
    border-radius: 9px 9px 9px 9px;
    box-shadow: 1px 1px 11px #FFFFFF;
}
        select {
           border: none;
           font-size: 10px;
           height: 30px;
           width: 100%;
           padding: 1px;
        }
        select:focus{ 
            outline: none;
            background: var(--whitteSolid);
        }
        select:hover { 
            background-color: var(--green);
            color: var(--whitteSolid);;
        }

    select, option{
    color: var(--greyHigh);
    font-size: .9em;
        }

.txtArea{
    margin: 0px;
    width: 270px;
    height: 100px;
}

.cerrarContactContenedor{
    z-index: 5;
    text-align: center;
    padding: 2%;
    background-color: var(--blackSolid);
}

select::-ms-expand {
    display: none;
}